{% extends 'article/base.html' %}

{% load i18n static article %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.desc }}{% endblock %}
{% block keywords %}{{ article.desc }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css">
<div class="box p-6">
    <div class="content">
        <h1 class="has-text-centered">{{ article.title }}</h1>
        <div class="is-flex is-justify-content-center mb-2">
            <a class="has-text-grey" href="{% url 'article:article_category' object.category.id %}">
                <span class="icon is-small"><i class="mdi mdi-comment-text-multiple-outline"></i></span>
                {{ object.category.name }}
            </a>
            {% if object.author %}
            <a class="ml-2 has-text-grey" href="{% url 'article:article_author' object.author.id %}">
                <span class="icon is-small"><i class="mdi mdi-account-circle-outline"></i></span>
                {{ object.author.username }}
            </a>
            {% endif %}
            {% if object.tags.exists %}
            <div class="tags ml-2 is-small">
                <span class="icon is-small"><i class="mdi mdi-tag-multiple-outline"></i></span>
                {% for tag in object.tags.all %}
                    <a class="tag is-light is-small" href="{% url 'article:article_tag' tag.id %}">
                        <span>{{ tag.name }}</span> 
                    </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <blockquote>{{ article.desc }}</blockquote>
        <div class="article-content ql-editor">{{ article.content|safe }}</div>
    </div>
    <div class="level is-mobile">
        <div class="level-left">
            <a class="level-item has-text-grey-light">
                <span class="icon is-small"><i class="mdi mdi-clock-time-five-outline"></i></span>
                <span class="ml-2">{{ article.create_time|timesince }}</span>
            </a>
            <a class="level-item has-text-grey-light">
                <span class="icon is-small"><i class="mdi mdi-eye-outline"></i></span>
                <span class="ml-2">{{ visit.pv }}</span>
            </a>
        </div>
        <!-- <div class="level-right">
            <a class="level-item has-text-grey-light">
                <span class="icon is-small"><i class="mdi mdi-comment-text-multiple-outline"></i></span>
                <span class="ml-2">0</span>
            </a>
            <a class="level-item has-text-grey-light">
                <span class="icon is-small"><i class="mdi mdi-heart-outline"></i></span>
                <span>0</span>
            </a>
            <a class="level-item has-text-grey-light">
                <span class="icon is-small"><i class="mdi mdi-share-variant-outline"></i></span>
                <span>0</span>
            </a>
        </div> -->
    </div>
</div>

<div class="box">
    <h1 class="is-size-4 has-text-centered has-text-weight-bold">{% translate '相关文章' %}</h1>
    <hr>
    <div class="columns is-multiline">
        {% tags_article_list object as tags_article_list %}          
        {% for article in tags_article_list|slice:":6" %}
        <div class="column is-6">
            <a href="{% url 'article:article_detail' article.id %}" class="box is-shadowless has-background-light">
                {{ article.title }}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
