{% extends 'baykeshop/base_site.html' %}

{% block title %}订单确认{% endblock %}

{% block breadcrumb %}
<div class="container">
    <nav class="breadcrumb is-marginless mt-3 mb-3 is-small" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'baykeshop:home' %}">首页</a></li>
        <li class="is-active"><a href="#" aria-current="page">订单确认</a></li>
      </ul>
    </nav>
</div>
{% endblock %}

{% block container %}
    <div class="container">
        sadasd
    </div>
{% endblock %}
    