{% extends 'baykeshop/base_site.html' %}

{% load i18n baykeshop %}

{% block main %}
    <section class="bk-section">
        <div class="bk-container">
            <div class="bk-box p-6">
                 <h1 class="bk-title bk-is-4">
                    <span class="bk-icon">
                        <i class="mdi mdi-map-marker-outline"></i>
                    </span>
                    {% translate '收货地址' %}
                </h1>
                <hr>
                {% address_template request.user %}
            </div>

            <div class="bk-box p-6">
                <h1 class="bk-title bk-is-4">
                    <span class="bk-icon">
                        <i class="mdi mdi-list-box-outline"></i>
                    </span>
                    {% translate '结算商品' %}
                </h1>
                <hr>
                {% for sku in skus %}
                    {% include 'baykeshop/shop/includes/cashskus.html' with sku=sku %}
                {% endfor %}
                <hr>
                <div class="bk-has-text-right px-6">
                    <div class="bk-is-size-4 bk-has-text-weight-bold bk-has-text-link">
                        <span class="">{{ count }}{% translate '件商品，总价' %}:</span>
                        <span class="is-size-3">￥{{ total }}</span>
                    </div>
                    <div class="mt-3">
                        <button class="bk-button bk-is-link bk-is-large" id="create-order-btn">
                            <span class="bk-icon">
                                <i class="mdi mdi-cart-arrow-right"></i>
                            </span>
                            
                            <span>{% translate '去支付' %}</span> 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ has_carts|json_script:'has-carts' }}
    {{ view.kwargs|json_script:'view-kwargs' }}
{% endblock %}

{% block javascript %}
<script>
    const url = "{% url 'baykeshop_api:orders-create' %}"
    const createOrderBtn = document.querySelector('#create-order-btn');
    const hasCarts = JSON.parse(document.getElementById('has-carts').textContent);
    const viewKwargs = JSON.parse(document.getElementById('view-kwargs').textContent);
    createOrderBtn.addEventListener('click', function(e) {
        e.preventDefault();
        const formData = new FormData();
        formData.append('receiver', userAddress.selectedAddress.name);
        formData.append('phone', userAddress.selectedAddress.phone);
        formData.append('address', userAddress.getFullAddress(userAddress.selectedAddress));
        if (!hasCarts) {
            formData.append('source', 'spu');
            formData.append('skuids', viewKwargs.skuid);
            formData.append('quantity', viewKwargs.num);
        } else {
            formData.append('source', 'carts');
            formData.append('skuids', viewKwargs.skuids);
        }
        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': bayke.csrftoken,
            },
            body: formData,
        })
        .then(response => {
            if (response.status !== 200) {
                console.log(response)
                bayke.message.error("{% translate '创建订单失败' %}")
                return
            }
            return response.json()
        })
        .then(data => {
            console.log(data)
            window.location.href = data.pay_url;
        })
    })
</script>
{% endblock %}
    