{% extends 'baykeshop/user/menmber.html' %}

{% block menmber %}
<div class="box is-radiusless is-shadowless">
    <div class="columns pl-6 pr-6 pt-3">
        <div class="column">
            <p class=" has-text-grey-light">账户可用余额</p>
            <h1 class="is-size-4">¥ {{ request.user.baykeuserinfo.balance }}</h1> 
        </div>
        <div class="column">
            <p class=" has-text-grey-light">累计充值</p>
            <h1 class=" is-size-4">¥ {{ addplus }}</h1>
        </div>
        <div class="column">
            <p class=" has-text-grey-light">累计消费</p>
            <h1 class=" is-size-4">¥ {{ minusplus }}</h1>
        </div>
    </div>
    <div class=" dropdown-divider"></div>

    <div class="table-container pl-4 pr-4">
        <table class="table is-fullwidth is-hoverable">
            <tbody>
                {% for balance in baykeuserbalancelog_set %}
                <tr>
                    <td class="{% if balance.change_status == '增加' %}  has-text-success-dark {% else %} has-text-danger-dark {% endif %}">
                        {{ balance.change_status }}
                    </td>
                    <td class="{% if balance.change_status == '增加' %}  has-text-success-dark {% else %} has-text-danger-dark {% endif %}">
                        {% if balance.change_status == '增加' %}  + {% else %} - {% endif %}{{ balance.amount }}
                    </td>
                    <td class="{% if balance.change_status == '增加' %}  has-text-success-dark {% else %} has-text-danger-dark {% endif %}">
                        {{ balance.change_way }}
                    </td>
                    <td class="{% if balance.change_status == '增加' %}  has-text-success-dark {% else %} has-text-danger-dark {% endif %}">
                        {{ balance.add_date }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>
{% endblock %}