{% extends 'user/account.html' %}
{% load i18n static bayke %}
{% block title %}{% translate '我的订单' %} {% endblock %}

{% block extrastyle %}
<script src="{% static 'order/js/action.js' %}"></script>
{% endblock %}

{% block profile_header %}
<h1 class="is-size-4">
    <span class="icon"><i class="mdi mdi-shopping"></i></span>
    {% translate '我的订单' %}
</h1>
{% endblock %}

{% block profile_content %}
<div class="box">
    <div class="tabs is-toggle is-fullwidth is-large mt-3">
        <ul>
            <li class="{% if not request.GET.status %} is-active {% endif %}">
                <a href="{% url 'order:order-list' %}">
                    <span class="icon is-small">
                        <i class="mdi mdi-all-inclusive-box-outline" aria-hidden="true"></i>
                    </span>
                    <span>{% translate '全部订单' %}</span>
                </a>
            </li>
        <li class="{% if request.GET.status == '0' %} is-active {% endif %}">
            <a href="{% url 'order:order-list' %}?status=0">
                <span class="icon is-small">
                    <i class="mdi mdi-mini-sd" aria-hidden="true"></i>
                </span>
                <span>{% translate '待支付' %}</span>
            </a>
        </li>
        <li class="{% if request.GET.status == '1' %} is-active {% endif %}">
            <a href="{% url 'order:order-list' %}?status=1">
                <span class="icon is-small">
                    <i class="mdi mdi-car-clutch" aria-hidden="true"></i>
                </span>
                <span>{% translate '待发货' %}</span>
            </a>
        </li>
        <li class="{% if request.GET.status == '2' %} is-active {% endif %}">
            <a href="{% url 'order:order-list' %}?status=2">
                <span class="icon is-small">
                    <i class="mdi mdi-shaker-outline" aria-hidden="true"></i>
                </span>
                <span>{% translate '待收货' %}</span>
            </a>
        </li>
        <li class="{% if request.GET.status == '3' %} is-active {% endif %}">
            <a href="{% url 'order:order-list' %}?status=3">
                <span class="icon is-small">
                    <i class="mdi mdi-comment-account-outline" aria-hidden="true"></i>
                </span>
                <span>{% translate '待评价' %}</span>
            </a>
        </li>
        <li class="{% if request.GET.status == '4' %} is-active {% endif %}">
            <a href="{% url 'order:order-list' %}?status=4">
                <span class="icon is-small">
                    <i class="mdi mdi-clover-outline" aria-hidden="true"></i>
                </span>
                <span>{% translate '已完成' %}</span>
            </a>
        </li>
        <li class="{% if request.GET.status == '5' %} is-active {% endif %}">
            <a href="{% url 'order:order-list' %}?status=5">
                <span class="icon is-small">
                    <i class="mdi mdi-clock-check-outline" aria-hidden="true"></i>
                </span>
                <span>{% translate '已取消' %}</span>
            </a>
        </li>
        <li class="{% if request.GET.status == '6' %} is-active {% endif %}">
            <a href="{% url 'order:order-list' %}?status=6">
                <span class="icon is-small">
                    <i class="mdi mdi-cash-refund" aria-hidden="true"></i>
                </span>
                <span>{% translate '已退款' %}</span>
            </a>
        </li>
        <li class="{% if request.GET.status == '7' %} is-active {% endif %}">
            <a href="{% url 'order:order-list' %}?status=7">
                <span class="icon is-small">
                    <i class="mdi mdi-diversify" aria-hidden="true"></i>
                </span>
                <span>{% translate '待核销' %}</span>
            </a>
        </li>
        </ul>
    </div>
</div>
    {% for order in page_obj %}
    <div class="box p-6">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
            <h1>订单号：{{ order.order_sn }}</h1>
            <span class="tag is-link is-light">{{ order.get_status_display }}</span>
        </div>
        <hr class="my-2">
        {% for item in order.baykeshoporderitem_set.all %}
        <div class="fixed-grid has-5-cols m-0">
            <div class="grid">
                <div class="cell is-col-span-3 px-3">
                    <div class="is-flex is-align-items-center">
                        <figure class="image is-96x96">
                            <img src="{{ item.sku.spu.image.url }}" alt="{{ item.sku.spu.name }}">
                        </figure>
                        <div class="ml-3">
                            <h1 class="is-size-5 has-text-weight-bold">{{ item.sku.spu.name }}</h1>
                            {% for spec in item.sku.combination.specs.all %}
                                <span class="has-text-grey">{{ spec.spec.name }}:</span>
                                <span>{{ spec.value }}</span>&nbsp;
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <div class="is-flex is-align-items-center is-justify-content-center" style="height: 100%;">
                        <span>￥{{ item.sku.price }}*{{ item.quantity }}</span> 
                    </div>
                </div>
                <div class="cell">
                    <div class="is-flex is-align-items-center is-justify-content-center" style="height: 100%;">
                        <span class="has-text-weight-bold">￥{{ item.total_price }}</span> 
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-2">
        {% endfor %}
        <div class="has-text-right">
            <h1 class="is-size-5">共{{ order.baykeshoporderitem_set.count }}件商品，总金额<span>￥{{ order.total_price }}</span></h1>
            <div class="buttons is-justify-content-end mt-3">
                <a class="button is-link is-light" href="{% url 'order:order-detail' order.order_sn %}">
                    <span class="icon"><i class="mdi mdi-eye"></i></span>
                    <span>{% translate '查看详情' %}</span>
                </a>
                {% if order.status == 0 %}
                <a class="button is-link" href="{% url 'order:order-pay' order.order_sn %}">
                    <span class="icon"><i class="mdi mdi-cash"></i></span>
                    <span>{% translate '立即支付' %}</span>
                </a>
                {% elif order.status == 2 %}
                <a class="button is-link receipt" data-api="{% url 'order:order-action' order.order_sn %}">
                    <span class="icon"><i class="mdi mdi-truck-delivery"></i></span>
                    <span>{% translate '确认收货' %}</span>
                </a>
                {% elif order.status == 3 %}
                <a class="button is-link comment" data-api="{% url 'order:order-comment' order.order_sn %}">
                    <span class="icon"><i class="mdi mdi-comment-account-outline"></i></span>
                    <span>{% translate '评价' %}</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="page">
        {% paginator_template page_obj request %}
    </div>

    <!-- 确认收货模态框 -->
    <div class="modal" id="modal-receipt">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box p-6">
                <h1 class="title is-5">
                    <span class="icon">
                        <i class="mdi mdi-checkbox-intermediate"></i>
                    </span>
                    确认收货
                </h1>
                <p>已收到货，现在确认收货吗？</p>
                <hr class="my-3">
                <div class="buttons is-justify-content-end">
                    <button class="button cancel" id="modal-receipt-cancel">取消</button>
                    <button class="button is-link" id="modal-receipt-confirm">确认</button>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    
    <!-- 评价模态框 -->
    <div class="modal" id="modal-comment">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box p-6">
                <h1 class="title is-5">
                    <span class="icon">
                        <i class="mdi mdi-comment-account-outline"></i>
                    </span>
                    评价
                </h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ comment_form.as_bulma }}
                    <div class="buttons is-justify-content-end">
                        <button class="button cancel" id="modal-comment-cancel">取消</button>
                        <button class="button is-link" id="modal-comment-confirm" type="submit">确认</button>
                    </div>
                </form>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
{% endblock %}