<div style="display: none;">
    {% include 'django/forms/widgets/textarea.html' %}
</div>

<div id="gallery{{ widget.name }}">
    <div class="bayke-is-flex-grow-1">
        <div class="bayke-is-flex">
            <template v-if="gallery.length > 0">
                <a class="mr-1 bayke-is-clickable" v-for="(item, index) in gallery" :key="index">
                    <figure class="bayke-image bayke-is-96x96 p-0 m-0">
                        <img :src="item"></img>
                    </figure>
                </a>
            </template>
            <a class="mr-1 bayke-is-clickable bayke-box p-0" @click.prevent="showModal">
                <figure
                    class="bayke-image bayke-is-96x96 p-0 m-0 bayke-is-flex bayke-is-align-items-center bayke-is-justify-content-center">
                    <span class="bayke-icon">
                        <i class="mdi mdi-36px mdi-image-multiple-outline"></i>
                    </span>
                </figure>
            </a>
        </div>
    </div>
    
    <div class="bayke-modal" :class="{ 'bayke-is-active': open }">
        <div class="bayke-modal-background"></div>
        <div class="bayke-modal-card" style="width: 60rem;">
            <header class="bayke-modal-card-head p-4">
                <p class="bayke-modal-card-title bayke-is-size-6">
                    <span class="bayke-icon">
                        <i class="mdi mdi-image-multiple"></i>
                    </span>
                    <span class="bayke-has-text-weight-bold">图库管理</span>
                </p>
                <button class="bayke-delete bayke-is-small" aria-label="close" @click.prevent="closeModal"></button>
            </header>
            <section class="bayke-modal-card-body p-3" style="overflow: hidden;">
                {% verbatim %}{{ selectedImages }}{% endverbatim %}
                {% verbatim %}{{ galleryCategoryList }}{% endverbatim %}
                <div class="bayke-columns bayke-is-gapless">
                    <div class="bayke-column bayke-is-2">
                        <aside class="bayke-menu">
                            <ul class="bayke-menu-list m-0">
                                <li>
                                    <a class="bayke-is-clickable" 
                                        :class="{ 'bayke-is-active': category_id==0 }" 
                                        @click.prevent="getGalleryList">
                                        全部图片
                                    </a>
                                </li>
                                <li v-for="item in galleryCategoryList" :key="item.pk">
                                    <a class="bayke-is-clickable" 
                                        :class="{ 'bayke-is-active': item.pk==category_id }" 
                                        @click.prevent="getCategoryGalleryList(item.category_url, item.pk)">
                                        {% verbatim %}{{ item.fields.name }}{% endverbatim %}
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="bayke-column bayke-is-10 ml-4" style="border-left: 1px solid #dbdbdb;">
                        <div class="pl-3 pr-4">
                            <div class="bayke-grid bayke-is-col-min-4">
                                <template v-for="(item, index) in images" :key="item.pk">
                                    <div class="bayke-cell" @click.prevent="onSelect(`/media/${item.fields.image}`)">
                                        <figure class="bayke-image p-0 m-0 bayke-is-clickable" :class="{ 'bayke-is-image-active': selectedImages.includes(`/media/${item.fields.image}`) }">
                                            <img :src="`/media/${item.fields.image}`"></img>
                                        </figure>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="bayke-modal-card-foot p-4">
                <div class="bayke-buttons bayke-is-justify-content-end" style="width:100%">
                    <button class="bayke-button bayke-is-link bayke-is-small" @click.prevent="saveSubmit">确认</button>
                    <button class="bayke-button bayke-is-small" @click.prevent="closeModal">取消</button>
                </div>
            </footer>
        </div>
    </div>
</div>

<script>
    const { ref, reactive } = Vue
    const app = Vue.createApp({
        data() {
            return {
                images:[],
                gallery: [],
                open: false,
                selectedImages: [],
                galleryCategoryList: [],
                category_id: 0,
            }
        },
        mounted() {
            // 初始化数据
            this.gallery = JSON.parse('{{ widget.value }}')      
        },
        methods: {
            showModal() {
                this.open = true
                this.getGalleryCategoryList()
                this.getGalleryList()
            },
            closeModal() {
                this.open = false
                this.category_id = 0
                this.galleryCategoryList = []
                this.images = []
                this.selectedImages = []
            },
            onSelect(item){
                if (this.selectedImages.includes(item)) {
                    this.selectedImages.splice(this.selectedImages.indexOf(item), 1)
                    return
                }
                this.selectedImages.push(item)
            },
            // 获取图库分类列表
            getGalleryCategoryList(){
                fetch('{% url "gallery:category-list" %}').then(res => res.json()).then(res => {
                    if (res.code == 200) {
                        this.galleryCategoryList = res.data
                    }
                }).catch(err => {
                    console.log(err)
                })
            },
            // 获取图库列表
            getCategoryGalleryList(url, pk){
                this.category_id = pk
                fetch(url).then(res => res.json()).then(res => {
                    if (res.code == 200) {
                        this.images = res.data
                    }
                }).catch(err => {
                    console.log(err)
                })
            },
            // 默认获取所有图片列表
            getGalleryList(){
                this.category_id = 0
                fetch('{% url "gallery:gallery-list" %}').then(res => res.json()).then(res => {
                    if (res.code == 200) {
                        this.images = res.data
                    }
                }).catch(err => {
                    console.log(err)
                })
            },
            // 确认选中
            saveSubmit(){
                this.gallery = [...this.gallery, ...this.selectedImages]
                console.log(this.gallery)
                this.open = false
                this.selectedImages = []
            },
        }
    })
    app.mount('#gallery{{ widget.name }}')
</script>
<style>
    .bayke-is-image-active{
        border: solid 1px #0c69f6;
    }
</style>